main {
  margin: 0 auto;
  text-align: center;
}
.player-text{
  font-size: larger;
}
label{
  margin: 1.5%;
}
input, select{
  margin: 5%;
  scale: 1.1;
}
.stat-div{
  display: inline-flex;
  flex-direction: column;
  margin-top: 1%;
  margin-left: 2%;
  margin-right: 2%;
  width: 30%;
  font-size: medium;
}
.player-list{
  display: block;
  margin-top: 2.5%;
  text-align: center;
  margin-left: auto;
  height: fit-content;
  width: fit-content;
  margin-right: auto;
  
}
.predict-div{
  display: flex;
  scale: 1.1;
  justify-content: center;
  margin-top: 8%;
  height: 60vh;
  flex-wrap: wrap;
}
.rating-text{
  display: inline;
  height: min-content;
  margin-bottom: 20%;
}
.stat-count{
  width: 35%;
  margin-left: 30%;
}
form{
  height: min-content
}
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.fifa-card {
  width: 300px;
  height: 400px;
  background: whitesmoke;
  clip-path: polygon(15% 0%,85% 0%,100% 16%,100% 78%,50% 100%,0% 78%,0% 16%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  padding-top: 30px;
  padding-bottom: 60px;
  margin: 5%;
}
.res-card{
  padding-top: 60px;
  display: none;
}
.upper-card{
  text-align: left;
  padding-left: 40px;
  padding-right: 40px;
  height: 50%;
  font-size: xx-large;
  border-bottom: none;
}
.middle-card{
  height: 0px;
  width: 100%;
  border: 1px solid grey;
}
.lower-card{
  font-size: x-large;
  padding-top: 10px;
  padding-left: 40px;
  padding-right: 40px;
  height: 50%;
  width: 100%;
  border-top: none;
}
.pl-name{
  width: 70%;
  padding-bottom: 2%;
  border-bottom: 1px solid grey;
}
.left-stats{
  padding: 3%;
  border-right: 0.5px solid grey;
  padding-right: 5%;
}
.right-stats{
  border-left: 0.5px solid grey;
  padding: 3%;
  padding-left: 5%;
}
.stat-coll{
  display: flex;
  height: 70%;
  width: 70%;
  margin-top: 1%;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
.stat-label{
  margin-bottom: 4%;
}
.border-line{
  margin-top: 2%;
  width: 50px;
  height: 0px;
  border: 0.5px solid grey;
}
.res-pos{
  font-size: x-large;
}